<%- include('_header')%>


<div style="text-align: center;">
    <h1>SIGN-IN</h1>
<form action="/users/createSession" method="post">
    <input name="email" type="email" placeholder="email" required>
   <br>
   <br>
    <input name="password" type="password" placeholder="password" required>
   <br>
   <br>
    <input type="submit" value="SIGN-IN">

</form>
</div>