body{
    color:rgba(8, 8, 8, 0.942);
   /* text-align: center; */   
}
#home-container{
    display: flex;

    #first{
        width: 70%;
        padding: 10px;
        /* border-right: 4px solid blue; */
    }
    #second{
        width: 30%;
        padding: 10px;
        border-left:1px solid rgb(17, 1, 1);
        height: auto;
    }
}

#list{
    /* padding: 10px; */
    /* border: 2px solid black; */
    display: flex;
    width: 20%;
    #a2{
        width: 80%;
        padding: 10px;
    }
    #a3{
       width: 20%;
       padding: 10px;
    }
    align-items: center; 
    
}

#todo-form{
    text-align: center;
}

#post-comments-list{
    display: flex;
    /* border: 2px solid black; */
    width: 30%;
    height: auto;
    height: initial;
    height: fit-content;
    align-items: center;
}
#post-container{
    display: flex;
    /* border: 1px solid black; */
    #post-comments{
        width: 40%;
        padding: 10px;
    }
    #post-comments-list{
       width: 60%;
       padding: 10px;
    }
    
    
}